#filterBarId button,#filterBarId select{
    margin: 10px;
}


.nameinput:hover{
    background-color: #fff !important;
}

.nameinput{
    color:#000 !important;
    text-align: left !important;
}

.navBgColor{
    background-color: #43b1f1 !important;
    padding: 1.5rem 1rem !important;
    height: 70px;
}

#nav-menu-container{
    float: right;
    display: block;
    padding: 0;
}

#nav-menu-container li{
    display: inline-block;
}